{{ if .install_packages -}}

{{ if ne .osid "windows" -}}
#!/bin/sh
{{ end -}}

{{ if eq .osid "linux-ubuntu" -}}
sudo apt install ripgrep htop silversearcher-ag fd-find
{{ else if eq .osid "darwin" -}}
brew install ripgrep htop the_silver_searcher fd
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
sudo apt install libfuse2 fuse git
( cd /usr/local/bin && sudo curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage )
sudo chmod a+x /usr/local/bin/nvim.appimage
sudo mv /usr/local/bin/nvim.appimage /usr/local/bin/nvim
sudo ln -s /usr/local/bin/nvim /usr/local/bin/vim
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
nvim --headless +PlugInstall +qa
nvim +UpdateRemotePlugins +qa

{{ else if eq .osid "darwin" -}}
brew neovim
{{ else if eq .osid "windows" -}}
winget install Neovim.Neovim
{{ end -}}

# install_packages
{{ end -}}
