{{ if .install_packages -}}

{{ if ne .osid "windows" -}}
#!/bin/sh
{{ end -}}

{{ if ne .osid "windows" -}}
# Install neovim plugins
nvim --headless '+qall'
nvim --headless '+PlugInstall!' '+qall'
nvim '+UpdateRemotePlugins' '+qall'
{{ end -}}

# end of install_packages
{{ end -}}
