{{ if .install_packages -}}

{{ if ne .osid "windows" -}}
#!/bin/sh
{{ end -}}

# Install various packages
{{ if eq .osid "linux-ubuntu" -}}
sudo apt install -y ripgrep htop silversearcher-ag fd-find cmake git ninja-build zsh locales
sudo locale-gen en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

{{ else if eq .osid "darwin" -}}
brew install ripgrep htop the_silver_searcher fd cmake git ninja zsh zoxide
{{ end -}}

{{ if ne .osid "windows" -}}
# Install oh my zsh
ZSH=
sh -c "$(curl -fsSL https://install.ohmyz.sh/)" "" --unattended
touch ~/.zshrc
source ~/.zshrc
{{ end -}}

{{ if ne .osid "windows" -}}
# Install fzf
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
# Install neovim dependencies
sudo apt install -y libfuse2 fuse

# Install neovim
( cd /usr/local/bin && sudo curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage )
sudo chmod a+x /usr/local/bin/nvim.appimage
sudo mv /usr/local/bin/nvim.appimage /usr/local/bin/nvim
sudo ln -s /usr/local/bin/nvim /usr/local/bin/vim

{{ else if eq .osid "darwin" -}}
# Install neovim
brew install neovim
{{ end -}}

{{ if ne .osid "windows" -}}
# Install vim-plug
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
{{ end -}}

{{ if ne .osid "windows" -}}
# Install fzf
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all
{{ end -}}

# end of install_packages
{{ end -}}
