{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $is_wsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $is_wsl = true -}}
{{-   end -}}
{{- end -}}

{{- $arch_alt := "" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{- $arch_alt = "x86_64" -}}
{{- else if eq .chezmoi.arch "386" -}}
{{- $arch_alt = "x86" -}}
{{- else if eq .chezmoi.arch "arm64" -}}
{{- $arch_alt = "arm64" -}}
{{- else if eq .chezmoi.arch "arm" -}}
{{- $arch_alt = "arm" -}}
{{- end -}}

{{- $location := promptStringOnce . "location" "home or work or vm" "work" -}}
{{- $install_packages := promptBoolOnce . "install_packages" "Should packages be installed" false -}}
{{- $install_nvim := promptBoolOnce . "install_nvim" "Should nvim be installed" false -}}
{{- $install_nvim_bob := promptBoolOnce . "install_nvim_bob" "Should nvim be installed via bob" false -}}
{{- $install_nvim_deps := promptBoolOnce . "install_nvim_deps" "Should nvim dependencies be installed" false -}}
{{- $install_nvim_plugs := promptBoolOnce . "install_nvim_plugs" "Should nvim plugins be installed" false -}}
{{- $install_qt_deps := promptBoolOnce . "install_qt_deps" "Should dependencies to build qt be installed" false -}}
{{- $machine_id := promptStringOnce . "machine_id" "Enter a unique machine id" "" -}}

{{- $name := "alcroito" -}}
{{- $email := "alcroito.code@pm.me" -}}
{{- if (or (eq $location "work") (eq $location "vm")) -}}
    {{- $name = "Alexandru Croitor" -}}
    {{- $email = "alexandru.croitor@qt.io" -}}
{{- end -}}

{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "pwsh.exe"
{{ end }}

[data]
    osid = {{ $osid | quote }}
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    install_packages = {{ $install_packages }}
    install_nvim = {{ $install_nvim }}
    install_nvim_bob = {{ $install_nvim_bob }}
    install_nvim_deps = {{ $install_nvim_deps }}
    install_nvim_plugs = {{ $install_nvim_plugs }}
    install_qt_deps = {{ $install_qt_deps }}
    location = {{ $location | quote }}
    machine_id = {{ $machine_id | quote }}
    arch_alt = {{ $arch_alt | quote }}
