{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $is_wsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $is_wsl = true -}}
{{-   end -}}
{{- end -}}

{{- $location := promptStringOnce . "location" "home or work or vm" "work" -}}
{{- $install_packages := promptBoolOnce . "install_packages" "Should packages be installed" false -}}

{{- $name := "alcroito" -}}
{{- $email := "alcroito.code@pm.me" -}}
{{- if (or (eq $location "work") (eq $location "vm")) -}}
    {{- $name = "Alexandru Croitor" -}}
    {{- $email = "alexandru.croitor@qt.io" -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    install_packages = {{ $install_packages }}
    location = {{ $location | quote }}
