{{- if eq .chezmoi.os "linux" -}}
{{-   template "zshrc_linux_paths" . -}}
{{- end -}}

{{- template "zshrc_unix" . -}}
{{- template "zshrc_aliases" . -}}

{{- if eq .osid "darwin" -}}
{{- if eq .machine_id "macbook_home" -}}
{{-   template "zshrc_plugins_macos_home" . }}
{{ end }}
{{-   template "zshrc_plugins_macos" . -}}
{{- else if eq .osid "linux-ubuntu" -}}
{{-   template "zshrc_plugins_ubuntu" . -}}
{{- else if eq .osid "linux-arch" -}}
{{-   template "zshrc_plugins_arch" . -}}
{{- end -}}

{{- template "zshrc_oh_my_zsh" . -}}

{{- if eq .osid "darwin" -}}
{{- if not (eq .machine_id "macbook_home") -}}
{{-   template "zshrc_icecc" . -}}
{{- end -}}
{{- if eq .machine_id "macbook_home" }}
{{   template "zshrc_macos_home" . }}
{{- else if eq .machine_id "macbook_home_arm" -}}
{{   template "zshrc_macos_home_arm" . }}
{{- else -}}
{{-   template "zshrc_work_macbook_pro_arm" . -}}
{{- end -}}
{{-   template "zshrc_macos" . -}}
{{-   template "zshrc_zoxide" . -}}

{{-   template "zshrc_atuin" . -}}

{{-   template "zshrc_spaceship" . -}}

{{- else if eq .osid "linux-ubuntu" -}}
{{-   template "zshrc_work_ubuntu_or_arch" . -}}
{{- else if eq .osid "linux-arch" -}}
{{-   template "zshrc_work_ubuntu_or_arch" . -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   template "zshrc_zoxide" . -}}

{{-   template "zshrc_atuin" . -}}

{{-   template "zshrc_mise" . -}}

{{- end -}}
