{{- if eq .chezmoi.os "linux" -}}
{{-   template "zshrc_linux_paths" . -}}
{{- end -}}

{{- template "zshrc_unix" . -}}
{{- template "zshrc_aliases" . -}}

{{ if eq .location "vm" -}}
# Ephemeral VM has no keyring; use pass-cli's filesystem key provider in interactive
# shells too (matches chezmoi's [secret] command wrapper for VMs).
export PROTON_PASS_KEY_PROVIDER=fs
{{ end -}}

{{- if eq .osid "darwin" -}}
{{- if eq .machine_id "macbook_home" -}}
{{-   template "zshrc_plugins_macos_home" . }}
{{ end }}
{{-   template "zshrc_plugins_macos" . -}}
{{- else if eq .osid "linux-ubuntu" -}}
{{-   template "zshrc_plugins_ubuntu" . -}}
{{- else if eq .osid "linux-debian" -}}
{{-   template "zshrc_plugins_ubuntu" . -}}
{{- else if or (eq .osid "linux-arch") (eq .osid "linux-endeavouros") -}}
{{-   template "zshrc_plugins_arch" . -}}
{{- end -}}

{{- if eq .osid "darwin" -}}
{{- if eq .chezmoi.arch "arm64" -}}
{{-   template "zshrc_macos_common_arm" . -}}
{{- else -}}
{{-   template "zshrc_macos_common_intel" . -}}
{{- end -}}
{{- end -}}

{{- template "zshrc_oh_my_zsh" . -}}

{{- if eq .osid "darwin" -}}

{{- template "zshrc_macos_common_pre" . -}}

{{- if not (eq .machine_id "macbook_home") -}}
{{-   template "zshrc_icecc" . -}}
{{- end -}}

{{- if eq .machine_id "macbook_home" }}
{{   template "zshrc_macos_home" . }}
{{- else if eq .machine_id "macbook_home_arm" -}}
{{   template "zshrc_macos_home" . }}
{{- else if eq .machine_id "work_macbook_pro_arm" -}}
{{-   template "zshrc_macos_work_arm" . -}}
{{- end -}}

{{- template "zshrc_macos_common_post" . -}}

{{- template "zshrc_zoxide" . -}}

{{- template "zshrc_atuin" . -}}

{{- template "zshrc_spaceship" . -}}

{{- else if eq .osid "linux-ubuntu" -}}
{{-   template "zshrc_work_ubuntu_or_arch" . -}}
{{- else if or (eq .osid "linux-arch") (eq .osid "linux-endeavouros") -}}
{{-   template "zshrc_work_ubuntu_or_arch" . -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}

{{-   template "zshrc_atuin" . -}}

{{-   template "zshrc_mise" . -}}

{{-   template "zshrc_zoxide" . -}}

{{- end -}}
