{{ if .install_packages -}}

{{ if ne .osid "windows" -}}
#!/bin/sh
{{ end -}}

# Install various packages
{{ if eq .osid "linux-ubuntu" -}}
sudo apt install -y locales
sudo locale-gen en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

sudo apt install -y ripgrep htop silversearcher-ag fd-find git zsh tig
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

ln -s $(which fdfind) ~/.local/bin/fd

{{ else if eq .osid "darwin" -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install ripgrep htop the_silver_searcher fd cmake git ninja zsh zoxide tig
{{ end -}}

{{ if ne .osid "windows" -}}
# Install oh my zsh
ZSH=
sh -c "$(curl -fsSL https://install.ohmyz.sh/)" "" --unattended
touch ~/.zshrc

{{ if eq .chezmoi.os "linux" -}}
sed -i 's/ZSH_THEME=\"robbyrussell\"/ZSH_THEME=\"bira\"/g' ~/.zshrc
{{ else if eq .osid "darwin" -}}
sed -i.bak 's/ZSH_THEME=\"robbyrussell\"/ZSH_THEME=\"bira\"/g' ~/.zshrc
{{ end -}}

source ~/.zshrc
{{ end -}}

{{ if ne .osid "windows" -}}
# Install fzf
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
# Install neovim dependencies
sudo apt install -y libfuse2 fuse

# Install neovim
vim_path=/usr/local/bin/nvim
if [ ! -f "$vim_path" ]; then
  ( cd /usr/local/bin && sudo curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage )
  sudo chmod a+x /usr/local/bin/nvim.appimage
  sudo mv /usr/local/bin/nvim.appimage $vim_path
  sudo ln -s $vim_path /usr/local/bin/vim
else
  echo "neovim binary already present /usr/local/bin/nvim"
fi

{{ else if eq .osid "darwin" -}}
# Install neovim
brew install neovim
{{ end -}}

{{ if ne .osid "windows" -}}
# Install vim-plug
if [ ! -f "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim ]; then
  sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
         https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
fi
{{ end -}}

{{ if ne .osid "windows" -}}
# Install fzf
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all
{{ end -}}

# end of install_packages
{{ end -}}
