# Use fancy theme
Import-Module posh-git
oh-my-posh init pwsh --config "$env:POSH_THEMES_PATH/paradox.omp.json" | Invoke-Expression

# replace 'Ctrl+t' and 'Ctrl+r' with your preferred bindings:
Set-PsFzfOption -PSReadlineChordProvider 'Ctrl+t' -PSReadlineChordReverseHistory 'Ctrl+r'

# Increase PS command history
Set-PSReadlineOption -MaximumHistoryCount 50000

# Not sure
Set-PSReadlineKeyHandler -Key Tab -Function MenuComplete

# Zoxide
Invoke-Expression (& { (zoxide init powershell | Out-String) })

# Aliases
# short form of `Set-Alias which Get-Command`
sal which gcm
sal vim nvim

Function amend { git commit --amend --verbose}
Function grhh { git reset --hard }
Function take {
  mkdir $args[0]
  cd $args[0]
}

# Machine specific configs
{{ if eq .chezmoi.hostname "alexandru-work-win11" }}
$env:Path = 'C:\Users\alexandru\PowerShelf;' + $env:Path
$env:Path = 'E:\dev\envs;' + $env:Path
$env:Path = 'E:\dev\cmakes\cmake-3.28.1\bin;' + $env:Path
{{ else if eq .chezmoi.hostname "win10-alex-vm" }}
Set-Alias vim C:\tools\neovim\nvim-win64\bin\nvim.exe
$env:Path = 'C:\Users\alex\.bulq\bin;' + $env:Path
$env:Path = 'C:\Users\alex\.bulq\qt_bin;' + $env:Path
$env:Path = 'C:\Users\alex\.bulq\qt;' + $env:Path
{{ end }}

# FZF options
$env:FZF_DEFAULT_OPTS='--color fg:242,bg:236,hl:65,fg+:15,bg+:239,hl+:108 --color info:108,prompt:109,spinner:108,pointer:168,marker:168'
$env:FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind ?:toggle-preview"
Import-Module PSFzf

# Some setting when ssh-ing in
if($env:LC_TERMINAL -eq "iTerm2") {
  $ThemeSettings.Options.ConsoleTitle = $false
}

