{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

# Install onedark theme for yazi
ya pkg add BennyOe/onedark

# Install compress plugin
ya pkg add KKV9/compress

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}

