{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

# Self-elevate the script if required
#if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
#  if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
#    $CommandLine = "-File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
#    Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
#    Exit
#  }
#}

# Refresh path
# https://stackoverflow.com/questions/41305457/powershell-refresh-env-path-for-the-active-session?noredirect=1&lq=1
# https://stackoverflow.com/questions/714877/setting-windows-powershell-environment-variables
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","User"),[System.Environment]::GetEnvironmentVariable("Path","Machine") -join ";"

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

