{{- if .install_qt_deps -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

{{ template "pwsh_scoop_install" . }}

echo "Installing qt dependencies"
Invoke-ScoopInstall ccache
Invoke-ScoopInstall ninja
echo "Finished installing qt dependencies"

# end of windows
{{- end -}}

# end of install_qt_deps
{{- end -}}
