{{- if and .install_packages (not .install_minimal_packages) -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

# Install Powershell 7 modules
echo "Installing powershell modules posh-git"
Set-ExecutionPolicy Bypass -Scope Process -Force;
{{ template "pwsh_7_path" . }}
{{- $psmodule_out := includeTemplate "pkgs/install_ps1" (dict "ctx" . "phase" "psmodule") | trim }}
{{- if $psmodule_out }}
{{- range $line := $psmodule_out | splitList "\n" }}
& "$pwsh_path" -c '{{ $line | trim }}'
{{- end }}
{{- end }}
# & "$pwsh_path" -c 'Install-Module -Name PSFzf -Confirm:$False -Force'

echo "Finished installing powershell modules"

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

