{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

{{ template "pwsh_scoop_install" . }}

# dev tools
echo "Installing non-admin dev tools"

Invoke-ScoopInstall mise
Invoke-ScoopInstall ripgrep
Invoke-ScoopInstall fd
Invoke-ScoopInstall jq

{{ if not .install_minimal_packages -}}
# Everything below needs the extras bucket or is interactive-only.
Add-ScoopBucket extras

Invoke-ScoopInstall sysinternals
Invoke-ScoopInstall fzf
Invoke-ScoopInstall zoxide
Invoke-ScoopInstall ag
Invoke-ScoopInstall atuin
Invoke-ScoopInstall psmux
{{ end -}}

echo "Finished installing non-admin dev tools"

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}
