{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

# upgrade choco .exe and add choco to PATH
Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

$env:Path += ';$env:ALLUSERSPROFILE\chocolatey\bin'

choco upgrade chocolatey
choco feature enable -n allowGlobalConfirmation

# install scoop
powershell -NoProfile -ExecutionPolicy Bypass -Command "iwr -useb get.scoop.sh | iex"

# dev tools
choco upgrade ag -y
choco upgrade git -y
choco upgrade fzf -y
choco upgrade zoxide -y

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}

