{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

# Inspiration
# https://github.com/nandalopes/dotfiles/blob/friends/root/.chezmoidata/tmux.yaml
# https://github.com/spf13/dotfiles/blob/main/run_once_before_install-packages-windows.bat.tmpl
# https://github.com/twpayne/dotfiles/blob/master/home/.chezmoiscripts/windows/run_onchange_remove-bloat.ps1

# https://github.com/topics/chezmoi?l=powershell
# https://github.com/TsekNet/dotfiles/blob/main/README.md this is good
# https://github.com/jwnmulder/dotfiles/blob/main/README.md
# https://github.com/LeoCalbi/dotfiles/blob/master/home/.chezmoiscripts/before/run_once_before_02_system_setup.ps1

# upgrade choco .exe and add choco to PATH
powershell.exe Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

$env:Path += ';$env:ALLUSERSPROFILE\chocolatey\bin'

choco upgrade chocolatey
choco feature enable -n allowGlobalConfirmation

# install scoop
powershell -NoProfile -ExecutionPolicy Bypass -Command "iwr -useb get.scoop.sh | iex"

# dev tools
choco upgrade neovim -y
choco upgrade ag -y
choco upgrade git -y
choco upgrade fzf -y
choco upgrade zoxide -y

# Install vim-plug for neovim
iwr -useb https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim |`
    ni "$(@($env:XDG_DATA_HOME, $env:LOCALAPPDATA)[$null -eq $env:XDG_DATA_HOME])/nvim-data/site/autoload/plug.vim" -Force

# Install neovim plugins
$nvim ="C:\tools\neovim\nvim-win64\bin\nvim.exe"
& "$nvim" --headless '+qall'
& "$nvim" --headless '+PlugInstall!' '+qall'
& "$nvim" '+UpdateRemotePlugins' '+qall'

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}

