{{- if and .install_packages (not .install_minimal_packages) -}}

{{- if eq .chezmoi.os "windows" }}

echo "Installing powershell 7"

{{ template "pwsh_refresh_path" . }}

$IsElevated = 'true' -eq (gsudo status IsElevated)

if ($IsElevated -eq $false) {
  Write-Warning "This script requires local admin privileges. Elevating..."
  gsudo "& '$($MyInvocation.MyCommand.Source)'" $args
  if ($LastExitCode -eq 999 ) {
    Write-error 'Failed to elevate.'
  }
  return
}

# Install Powershell 7 via choco
echo "Installing powershell 7"
choco upgrade powershell-core --confirm
echo "Finished installing powershell 7"

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

