{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

{{ template "pwsh_scoop_install" . }}

# dev tools
echo "Installing non-admin dev tools"

{{ includeTemplate "pkgs/install_ps1" (dict "ctx" . "phase" "system") }}

echo "Finished installing non-admin dev tools"

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}
