{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

{{ template "pwsh_scoop_install" . }}

{{ if .install_nvim -}}
# scoop's neovim is per-user, so this needs no elevation, and it skips the
# vcredist/KB dependency chain the chocolatey package pulled in.
echo "Installing neovim via scoop"
Invoke-ScoopInstall neovim
echo "Finished installing neovim"
{{- end -}}

{{ if .install_nvim -}}
echo "Installing vim-plug for neovim"
# Install vim-plug for neovim
iwr -useb https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim |`
    ni "$(@($env:XDG_DATA_HOME, $env:LOCALAPPDATA)[$null -eq $env:XDG_DATA_HOME])/nvim-data/site/autoload/plug.vim" -Force
echo "Finished installing vim-plug"
# end install_nvim
{{- end -}}

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}
