{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

echo "Installing gsudo"
scoop install gsudo
echo "Finished installing gsudo"

echo "Enabling gsudo cache"
gsudo config CacheMode Auto

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

