{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

{{ template "pwsh_7_path" . }}

# Without this, if config.toml does not exist yet, `mise use -g` writes the [tools] section into
# the first conf.d/*.toml instead, which is a chezmoi-managed file.
$env:MISE_GLOBAL_CONFIG_FILE = "$HOME\.config\mise\config.toml"

echo "Installing yazi and node using mise"
mise use -g yazi
mise use -g node

echo "Installing yazi packages"
# yazi is installed by mise, so need to do it via pwsh 7 where the profile sets up mise.
# Install catppuccin-macchiato theme for yazi
& "$pwsh_path" -c 'ya pkg add yazi-rs/flavors:catppuccin-macchiato'

# Install compress plugin
& "$pwsh_path" -c 'ya pkg add KKV9/compress'
echo "Finished installing yazi packages"

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}

