{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

# Install Powershell 7 modules
echo "Installing powershell modules posh-git"
Set-ExecutionPolicy Bypass -Scope Process -Force;
{{ template "pwsh_7_path" . }}
& "$pwsh_path" -c 'Install-Module -Name posh-git -Confirm:$False -Force'
# & "$pwsh_path" -c 'Install-Module -Name PSFzf -Confirm:$False -Force'

echo "Finished installing powershell modules"

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

