{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}


Set-ExecutionPolicy Bypass -Scope Process -Force;

{{ template "pwsh_7_path" . }}

{{- if gt (atoi .chezmoi.windowsVersion.currentBuild) 22000 }}
echo "Installing powershell module oh-my-posh on Windows 11"
& "$pwsh_path" -c 'Invoke-Expression ((New-Object System.Net.WebClient).DownloadString(''https://ohmyposh.dev/install.ps1''))'
{{- end }}

echo "Installing oh my posh font meslo"
& "$pwsh_path" -c 'oh-my-posh font install meslo'

echo "Finished installing oh-my-posh"

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

