{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

{{ template "pwsh_refresh_path" . }}

{{ if .install_nvim_plugs -}}
# Install neovim plugins
echo "Installing neovim plugins"
$nvim ="C:\tools\neovim\nvim-win64\bin\nvim.exe"
& "$nvim" --headless '+qall'
{{ template "pwsh_refresh_path" . }}
& "$nvim" --headless '+PlugInstall!' '+qall'
& "$nvim" --headless '+UpdateRemotePlugins' '+qall'
echo "Finished installing neovim plugins"

# end of install nvim plugins
{{- end -}}

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}

