{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

# Refresh path
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","User"),[System.Environment]::GetEnvironmentVariable("Path","Machine") -join ";"

$pwsh_path = "C:\Program Files\PowerShell\7\pwsh.exe"

echo "Installing yazi packages"
# yazi is installed by mise, so need to do it via pwsh 7 where the profile sets up mise.
# Install catppuccin-macchiato theme for yazi
& "$pwsh_path" -c 'ya pkg add yazi-rs/flavors:catppuccin-macchiato'

# Install compress plugin
& "$pwsh_path" -c 'ya pkg add KKV9/compress'
echo "Finished installing yazi packages"

# end of windows
{{- end -}}


# end of install_packages
{{- end -}}

