{{- if .install_packages -}}

{{- if eq .chezmoi.os "windows" }}

# Refresh path
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","User"),[System.Environment]::GetEnvironmentVariable("Path","Machine") -join ";"

echo "Installing gsudo"
scoop install gsudo
echo "Finished installing gsudo"

echo "Enabling gsudo cache"
gsudo config CacheMode Auto

# end of windows
{{- end -}}

# end of install_packages
{{- end -}}

