{{ if .install_packages -}}
#!/usr/bin/env sh

# Alpine doesn't have bash
{{ if eq .osid "linux-alpine" -}}
echo "Installing bash on alpine"
sudo apk add bash
{{ end -}}

# end of install_packages
{{ end -}}
