{{ if .install_qt_deps -}}

{{ if ne .osid "windows" -}}
#!/usr/bin/env sh
{{ end -}}

echo "Installing Qt build dependencies"
{{ if has .osid (list "linux-centos" "linux-rocky" "linux-rhel") -}}
sudo dnf install -y 'dnf-command(config-manager)'
sudo dnf config-manager --set-enabled crb
sudo dnf install -y epel-release
sudo dnf group install -y "Development Tools"
{{ else if eq .osid "linux-fedora" -}}
sudo dnf group install -y c-development development-tools
{{ end -}}
{{ includeTemplate "pkgs/install_list_sh" (dict "ctx" . "list" "qt_deps") }}

# end of install
{{ end -}}
