{{ if .install_packages -}}

{{ if ne .osid "windows" -}}
#!/usr/bin/env zsh
export PATH=/usr/local/bin:$PATH
{{ end -}}

{{ if ne .osid "windows" -}}
# Install neovim plugins
echo "Installing neovim plugins"
nvim --headless '+qall'
nvim --headless '+PlugInstall!' '+qall'
nvim --headless '+PlugInstall!' '+qall'
nvim --headless '+UpdateRemotePlugins' '+qall'
nvim --headless '+UpdateRemotePlugins' '+qall'
{{ end -}}

# end of install_packages
{{ end -}}
