{{ if .install_packages -}}
#!/usr/bin/env sh

# Alpine doesn't have bash
echo "Installing bootstrap packages"
{{ includeTemplate "pkgs/install_sh" (dict "ctx" . "phase" "bootstrap") }}

# end of install_packages
{{ end -}}
